@model IEnumerable<WebApplication2.Models.RentModel>

@{
    ViewBag.Title = "Rent List";
}

<h2>Rent List</h2>

<table class="table">
    <tr>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Status
        </th>
        <th>
            Comments
        </th>
        <th>
            Item name
        </th>
        <th>
            Item price
        </th>
        <th>
            Invoice status
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.Status)
                </td>
                <td>
                    @if (item.StartDate > DateTime.Now)
                    {
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Cancel Rent</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to cancel rent?</h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html.ActionLink("Yes", "DeclineRent", new { id = item.Id }, new { @class = "btn btn-default" })
                                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                    @if (item.Invoice.Status != "Paid")
                    {
                        @Html.ActionLink("Pay for rent", "InvoiceForm", "Invoice", new { id = item.Invoice.Id }, new { @class = "btn btn-info" });
                    }
                </td>
            </tr>
        }
    }

</table>
